/* Navbar Styling */
.navbar {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212529;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

/* Flex layout for navbar items */
.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%; /* Adjusted to leave space for the search bar */
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: #ffffff;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-link:hover {
    color: #007bff;
}

/* Search panel centered */
.nav-search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.nav-search .form-control {
    border-radius: 25px;
    padding: 0.5rem 1rem;
    width: 300px; /* Set a fixed width for the search bar */
    transition: width 0.3s ease;
}

.nav-search .form-control:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #007bff;
}

.nav-search button {
    background-color: #fd7e14;
    color: white;
    width:50px;
    border-radius:4px;
    padding: 0.5rem;
    margin-left: 5px;
    transition: background-color 0.3s ease;
    border: none;
}

.nav-search button:hover {
    background-color: #0056b3;
}


@media (max-width: 767px) {
    .navbar-nav {
        width: 100%;
        justify-content: space-between;
    }

    /* Adjust search bar for mobile view */
    .nav-search .form-control {
        width: 180px;
    }

    .nav-search .form-control:focus {
        width: 250px;
    }
}

/* Card Image Style */
.card-img-top {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

/* Grid adjustments */
.scrollable-grid {
    padding: 20px 0;
}

.card {
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    text-align: center;
}

.card-footer {
    text-align: center;
}

/* Footer adjustments */
.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa;
    border-top: 1px solid #e1e1e1;
}

.footer-section {
    width: 30%;
}

.footer-section h5 {
    font-weight: bold;
}

.footer-section a {
    color: #007bff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}
