 @charset "UTF-8";


 .card-img-top {
            object-fit: cover;
            height: 250px;
        }
        .card-body {
            text-align: center;
        }
        .related-books-section {
            margin-top: 50px;
        }
        .book-info {
            padding-top: 30px;
        }
        .book-info h2 {
            font-size: 2rem;
            font-weight: bold;
        }
        .book-info p {
            font-size: 1.1rem;
        }
        .btn-primary {
            width: 100%;
        }

        /* Ensure the image in the related books section is displayed fully in the center */
        .related-book-img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        
        .row{
        height:800px;
        width:600px;
        }